#main-story{
    max-width: 800px;
}
.test-ctrl{
    .play-pause-btn{
        color: #fff;
        font-style: normal;
    }
    .time-duration{
        color: #fff;
        font-style: normal;
    }
    .mute-btn{
        color: #fff;
        font-style: normal;
    }
    .fullscreen{
        color: #fff;
        font-style: normal;
    }
}